/*font-weight*/

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');


.font-weight-400{
    font-weight: 400;
}






/*font family*/

.font-fmly-ar{
     /*font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
     font-family: "Poppins",sans-serif;
}




/*font size*/

.fnt-sz-13{
	font-size: 13px;
}
.fnt-sz-12{
	font-size: 12px;
}

.txt-lft-1{
    color: #757575;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    padding-left: 13px;
}
/*text style*/

.txt-tp-c-1 {
    font-weight: 500;
    color: #999;
    font-size: 12px;
}
.txt-tp-30{
	font-size: 20px;
    line-height: 1.38;
    font-weight: 500;
}
.txt-tp-31 {
    color: #757575;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.txt-tp-32 {
    color: #757575;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 2;
    margin-top: -20px;
}
.txt-tp-33{
	color: #757575;
    font-weight:400;
    font-size: 15px;
    letter-spacing: 1px;
}

.hd-tp-50 {
    margin: 9px 0px 5px 0px;
    line-height: 1.3;
    height: 35px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
    color: #191919;
        padding-left: 10px;
    padding-right: 10px;
}
.hd-tp-51{
        line-height: 1.3;
    height: 19px;
    overflow: hidden;
    font-size: 12px;
    font-weight: 500;
        padding-left: 10px;
    padding-right: 10px;
}
.mr-30-b{
	margin-bottom: 30px !important;
}
.mr-20-b{
    margin-bottom: 20px !important;
}
.pd-l-25{
    padding-left: 25px;
}
.bx-tp-50 .txt-lft-1 {
       padding-left: 0px;
    margin-top: 10px;
    font-size: 18px;
    color: #191919;
    margin-bottom: 20px;
}
.hd-tp-52
{
        font-size: 12px;
    margin-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.vd-upld-prs img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}
.bc-none{
    background: none !important;
}
.fl-cn{
    flex-direction: column;
    align-content: center;
}
.cnt-11{
    color: #777;
    font-size: 10px;
}
.mrg-r-10{
    margin-right: 10px;
}
.ply-icn-2{
        width: 35px;
    height: 35px;
    font-size: 16px;
    border-radius: 50%;
    text-align: center;
    padding-top: 6px;
    display: inline-block;
    color: #e4e4e4;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    font-weight: 500;
    position: absolute;
    top: 30px;
    left: 36%;
    z-index: 99;
    background: rgba(255,255,255,0.5);
    display: inline-block;
    padding-left: 2px;
    position: absolute;
}
.img-tp-12{
    width: 60px !important;
    height: 60px;
    border-radius: 50%;
    display: inline-block !important;
}
.bx-shdw-right {
    -webkit-box-shadow:3px 1px 1px #d11d2f;
          box-shadow: 3px 1px 1px #d11d2f;
          padding: 3px;
          border-radius: 55%;
}
.bx-tp-1-a{
    text-align: center;
}
.bx-tp-1-a-lnk{
    display: block;
    text-align: center;
        margin: 0 auto;
}
.bx-tp-1-a-lnk .txt-tp-32{
    margin-top: 5px;
    height: 20px;
}
.bx-tp-1-a-lnk .txt-tp-c-1 {
    font-weight: 500;
    color: #999;
    font-size: 11px;
    margin-top: 2px;
}
.slider-btnmore-tp-8 {
       display: inline-block;
    border-radius: 2px;
    padding: 3px 10px;
    margin: 0 auto;
    margin-top: 8px;
    width: 100%;
    max-width: 115px;
    font-size: 12px;
    font-weight: 500;
    transition: box-shadow 0.2s ease;
    vertical-align: super;
    cursor: pointer;
    outline: none;
    text-align: center;
    background: #fff;
    color: #2874f0;
    border: 1px solid #2874f0;
    text-decoration: none !important;
}
.slider-btnmore-tp-8.unfollow{
  color: #d11d2f;
  border: 1px solid #d11d2f;
}
.rst-bx-bx-t-lnk-1-img{
     width: 80px !important;
    height: 80px;
    border-radius: 50%;
    display: inline-block !important;
}
.wdt-30-pr{
    width: 120px;
}
.pd-tp-7{
    padding-top: 7px;
}
.ph-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 2px; 
}
  .ph-item, .ph-item *,
  .ph-item ::after, .ph-item ::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .ph-item::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 1;
    width: 500%;
    margin-left: -250%;
    -webkit-animation: phAnimation .8s linear infinite;
            animation: phAnimation .8s linear infinite;
    background: -webkit-gradient(linear, left top, right top, color-stop(46%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.35)), color-stop(54%, rgba(255, 255, 255, 0))) 50% 50%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 54%) 50% 50%; }
  .ph-item > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding-right: 15px;
    padding-left: 15px; }

.ph-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0px; }
  .pd-l-0{
    padding-left: 0px;
  }
  .ph-row div {
    height: 9px;
    margin-bottom: 7.5px;
    background-color: #efefef; }
  .ph-row .big,
  .ph-row.big div {
    height: 20px;
    margin-bottom: 15px; }
  .ph-row .empty {
    background-color: rgba(255, 255, 255, 0); }
.ph-col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%; }
.ph-col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%; }

.ph-col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%; }

.ph-col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%; }

.ph-col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%; }

.ph-col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%; }

.ph-col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }

.ph-avatar {
  position: relative;
  width: 100%;
  min-width: 60px;
  background-color: #efefef;
  margin-bottom: 15px;
  border-radius: 50%;
  overflow: hidden; }
  .ph-avatar::before {
    content: " ";
    display: block;
    padding-top: 100%; }

.ph-picture {
    width: 100%;
    height: 220px;
    background-color: #efefef;
    margin-bottom: 20px;
}

@-webkit-keyframes phAnimation {
  0% {
    -webkit-transform: translate3d(-30%, 0, 0);
            transform: translate3d(-30%, 0, 0); }
  100% {
    -webkit-transform: translate3d(30%, 0, 0);
            transform: translate3d(30%, 0, 0); } }

@keyframes phAnimation {
  0% {
    -webkit-transform: translate3d(-30%, 0, 0);
            transform: translate3d(-30%, 0, 0); }
  100% {
    -webkit-transform: translate3d(30%, 0, 0);
            transform: translate3d(30%, 0, 0); } }